freefalldb.sublime-project
freefalldb.sublime-workspace
test/*
mconline/*
.DS_Store
*.pyc
hs/server/boards
hs/server/test
hs/server/dist
hs/client/dist
hs/client/lib
hs/client/*.dll
hs/client/*.a
**/*.o
**/*.hi
hs/client/**/*.h
